<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/articles">articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/login">login</a>
      </li>
      <li class="justify-content-end">
        <a class="nav-link"  routerLink="/home">home</a>
      </li>
    </ul>
  
  </nav>
