<div style="width:100%;background-color: red;height: 650px;">
  <app-login-button></app-login-button>>
</div>
<div style="width:100%;background-color: purple;height: 650px;">
 <app-pictures-bar></app-pictures-bar>>
</div>
<div style="width:100%;background-color: blue;height: 650px;">
  <a routerLink="/articles">articles</a>
  <div class="row" >
      <div class="col"><a routerLink="/article-java">java</a></div>
      <div class="col"><a routerLink="/article-c">c#</a></div>
      <div class="col"><a routerLink="/article-web">web</a></div>
      <div class="col"><a routerLink="/article-sql">sql</a></div>
    </div>
</div>
<div style="width:100%;background-color: yellowgreen;height: 350px;">  
   <div class="row">
      <div class="col"><a routerLink="/about">about us</a></div>
      <div class="col"><a routerLink="/terms-use">Terms of Use</a></div>
      <div class="col"><a routerLink="/staff">our staff</a></div>
    </div>
    <div class="row">
        <div class="col"><a routerLink="/contact-us">contact us</a></div>
        <div class="col"><a routerLink="/privacy">privacy terms</a></div>
        <div class="col">fb,tw,li</div>
      </div>
</div>
